body {
	//font-style: oblique;
	font-family:trebuchet ms;

}

header {
	//background-color:#F5FFFF;
    //border-radius:10px;
	//border: 1px solid #00FFFF;
    padding: 1em;
    clear: left;
    text-align: left;
	//color: white;
	//background-color: #99cc00;
	//max-width:320px;
	//margin-left: 320px;
	//font-variant: small-caps;
	
}


#door{

    padding: 1em;
	text-align:left;
}

section {
    padding: 1em;
	text-align:left;
	overflow: hidden;
}

div.container {
	float:left;
	width: 100px;
	height: 100px;
	//position: absolute;
	//background-color: red;
	border: 1px solid white;
	position:relative;
}

div.cup {
	width: 40px;
	position: relative;
	left: 30px;
	border: 1px solid black;
	//border-radius: 5px;
	border-top: white;
}

#cup0 {
	top:20px;
	height:80px;
}

#cup1 {
	top:50px;
	height:50px;
}

#cup2 {
	top:70px;
	height:30px;
}


div.water {
	width: 38px;
	//height: 50px;
	//background-color: blue;
	position: absolute;
} 

#scale {
	width: 100px;
	height: 120px;
	//position: absolute;
	//background-color: red;
	border: 1px solid black;
	border-radius: 5px;
	position:relative;	
}

#weight_panel {
	width: 40px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 30px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
}

#clock {
	width: 100px;
	height: 100px;
	//position: absolute;
	//background-color: red;
	border: 1px solid black;
	border-radius: 25px;
	position:relative;	
	text-align:center;
}







