


div.puzzle_container {
	border-radius:5px;
	height:200px;
	padding:10px;
	margin:5px;
	background-color:#f2eee2;
	text-align: center;
	color: brown;
	font-variant: small-caps;
	border: 2px solid brown;
}


/*

#description {
	padding: 1em;
    clear: left;
    text-align: left;
	color: brown;
	font-size:90%;
	padding:20px;
	font-family:trebuchet ms;
}

#js {
	font-size:60%;
}

nav {
    float: left;
    padding: 1em;
	
}

nav ul {
    list-style-type: none;
    padding: 0;
	margin-bottom:32px;
}
   
nav ul a {
    text-decoration: none;
}

section {
	border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


p.nav_header {
	font-weight:bold;
}
*/






