
#door {
	display: inline-block;
	width: 150px;
	height: 150px;
	background: white;
	color:white;
	text-align:center;
	//position: absolute;
	border-top: 1px solid brown;
	border-bottom: 1px solid brown;
	color:brown;

}

#door_left {
	//display: inline-block;
	width: 75px;
	height: 150px;
	background: #cc6600;
	color:white;
	text-align:center;
	//position:absolute;
	float:left;
	border: 1px solid brown;
	font-variant: small-caps;
}

#door_right {
	//display: inline-block;
	width: 75px;
	height: 150px;
	background: #cc6600;
	color:white;
	text-align:center;
	//position:absolute;
	float:right;
	border: 1px solid brown;
	font-variant: small-caps;
}

div.water {
	width: 40px;
	left: -1px;
	//height: 50px;
	//background-color: blue;
	position: absolute;
	border-radius:0 0 10% 10%;
} 

div.container {
	float:left;
	width: 100px;
	height: 100px;
	//position: absolute;
	//background-color: red;
	//border: 1px solid white;
	position:relative;
}

div.cup {
	width: 40px;
	position: relative;
	left: 30px;
	border: 1px solid brown;
	//border-radius: 5px;
	border-top: white;
	border-radius:0 0 10% 10%;
}

#cup0 {
	top:20px;
	height:81px;
}

#cup1 {
	top:50px;
	height:51px;
}

#cup2 {
	top:70px;
	height:31px;
}

#scale {
	width: 100px;
	height: 120px;
	//position: absolute;
	//background-color: red;
	border: 1px solid brown;
	border-radius: 5px;
	position:relative;	
	background-color: lavenderblush;
}

#weight_panel {
	width: 40px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: 30px;
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	background-color:white;
}

#clock {
	width: 100px;
	height: 20px;
	position: absolute;
	background-color: lavenderblush;
	border: 1px solid black;
	border-radius: 25px;
	position:relative;	
	left: 80px;
	text-align:center;
}

#clue_4 {
	font-size:40px;
	position: absolute;
	top: 40px;
	width: 100px;
	text-align:center;
	color:#ff99ff;
}

input {
	border: 1px solid brown;
	padding: 2px;
}

button {
	border: 1px solid brown;
}

a:hover {
	text-decoration: none;
}